/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  position: relative;
  top: 10%;
  left: 10%;
}
body {
  background-color: #3d4743;
  color: #d1e8e2;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;

  min-height: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
h1 {
  color: #25999b;
  font-weight: 700;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 30px;

  /* animations */
  -webkit-animation: fadeInLeftBig;
  animation: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.intro {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation: fadeInUp;
  animation: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
table {
  padding: 10%;
  margin: 0 auto;
}
thead {
  color: #25999b;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
}
td {
  padding: 1%;
}

a {
  color: #f0a96f;
}
a:visited {
  color: #c9854e;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: #6dccf8;
}
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ad794b;
  color: #d1e8e2;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  transition-duration: 0.9s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ad794b;
  color: #d1e8e2;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  transition-duration: 0.9s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.6;
}
.button_secondary {
  background-color: #f0a96f;
  color: #d1e8e2;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin: 15px;
}
.navigation-list__item--active {
  text-decoration: none;
}
/*.contact_button {
  border: none;
  font-family: inherit;
  background-color: var(--background;
  color: #d1e8e2;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}*/
.portfolio_portrait {
  float: right;
  display: block;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;

  -webkit-animation: fadeInRightBig;

  animation: fadeInRightBig;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.profile {
  max-width: 700px;
  margin: auto;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}
.contact_profile {
  max-width: 700px;
  margin: 0 auto;
}
.contact_form {
  position: relative;
  top: 5px;
}
.standard-label {
  display: block;
}
.about_profile {
  max-width: 700px;
  margin: 0 auto;
}
.cv-resume {
  text-align: center;
}
.work-profile {
  max-width: 800px;
  margin: 0 auto;
}
.grid__item {
  display: inline-block;
  width: 33%;
}
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  .grid__item {
    background-color: #6a7973;
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}
.page-footer {
  clear: both;
  margin-top: auto;
}
.social_media {
  position: static;
  text-align: center;
}
span {
  display: inline-block;
  font-style: italic;
  text-decoration: underline;
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-device-width: 320px) and (max-device-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 22px;
  }
  .logo {
    position: relative;
    width: 30%;
    height: 20%;
    margin-top: 20%;
  }
  .profile,
  .about_profile,
  .contact_profile,
  .work-profile {
    margin: 5%;
  }
  svg {
    width: 100%;
    height: 30%;
  }
  .page-header__item {
    display: block;
  }
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;

    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Skill";
  }
  td:nth-of-type(2):before {
    content: "Experience";
  }
  td:nth-of-type(3):before {
    content: "Expertise";
  }
}
/* Could also write from as 0%, and to as 100% */
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(00px, 48px);
    transform: translate(00px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(00px, 48px);
    transform: translate(00px, 48px);
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 28s cloud-move infinite alternate linear;
  animation: 28s cloud-move infinite alternate linear;
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}
